* {
    box-sizing: border-box;
    font-family: Arial;
}

.Table-header {
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    border: 1px solid black;
    background-color: lightgrey;
}

.tab {
    margin-left: 200px;
    background-color: lightgreen;
    border: solid black 1px;
}

a {
    text-decoration: none;
}

tr {
    display: flex;
    flex-direction: row;
}

td, th {
    width: 150px;
    border: solid grey 1px;
}

span {
    /*width: 200px;*/
    border: solid grey 1px;
}

.head {
    font-weight: bold;
    text-align: center;
}


